body {
    /* width: 80%;
    margin: auto; */
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.cabecalho {
    display: flex;
    background-color: white;
    width: 85%;
    margin: 18px auto;
    border-radius: 15px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    opacity: 8;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0; right: 20px; left: 20px;
    z-index: 3;
}

@media (max-width: 600px) {
    .cabecalho {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

.cabecalho img {
    width: 15rem;
    height: 5rem;
    margin-left: 8px;
}

@media (max-width: 600px) {
    .cabecalho img {
        width: 10rem;
        height: 3rem;
    }
}

nav {
    margin-right: 20px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.1rem;
}

@media (max-width: 600px) {
    .menu {
        font-size: 0.9rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.menu a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 10px;
}

@media (max-width: 600px) {
    .menu a {
        padding: 4px;
    }
}

.menu a:hover {
    border-bottom: 1px solid #0a2188;
}

.hero {
    background-image: url(imgs/sobre_bg.jpg);
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .hero {
        height: 400px;
        background-position: center;
    }
}

.hero h1 {
    margin: 16rem auto 10px;
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    font-weight: 200
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 3rem;
        text-align: center;
        margin-top: 10.3rem;
    }
}

.hero * {
    position: relative;
    z-index: 2;
}

.hero::before {
    content: " ";
    position: absolute;
    top: 0; left: 0;
    width: 100%; min-height: 630px;
    background-color: rgba(10, 70, 182, 0.7);
    z-index: 0;
}

@media (max-width: 600px) {
    .hero::before {
        min-height: 400px;
    }
}

.slogan {
    font-size: 1.4rem;
    font-style: italic;
    margin: 0;
    color: white;
}

@media (max-width: 600px) {
    .slogan {
        font-size: 1rem;
    }
}

.titulo-menor {
    font-size: 1rem;
    text-transform: uppercase;
    color: #0a2188;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 4rem;
}

.apresentacao-geral {
    display: flex;
    margin-left: 1rem;
    gap: 5rem;
}

@media (max-width: 600px) {
    .apresentacao-geral {
        flex-direction: column;
        gap: 1rem;
        margin-right: 1rem;
    }
}

.apresentacao-geral__texto--destaque {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.1;
}

@media (max-width: 600px) {
    .apresentacao-geral__texto--destaque {
        font-size: 1.8rem;
    }
}

.apresentacao-geral__texto--geral {
    font-size: 1.4rem;
}

@media (max-width: 600px) {
    .apresentacao-geral__texto--geral {
        font-size: 1rem;
    }
}

.paragrafo-final {
    margin-bottom: 6rem;
}

@media (max-width: 600px) {
    .paragrafo-final {
        margin-bottom: 2rem;
    }
}

.apresentacao-geral__video {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

@media (max-width: 600px) {
    .apresentacao-geral__video {
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.contatos-mais_informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imgs/footer.jpg);
    background-size: cover;
    height: 150px;
    position: relative;
}

@media (max-width: 600px) {
    .contatos-mais_informacoes {
        text-align: center;
    }
    
}

.contatos-mais_informacoes::before {
    content: " ";
    position: absolute;
    inset: 0; /* cobre todo o elemento */
    background: rgba(6, 65, 153, 0.9); 
    z-index: 1;
}

.redes_sociais {
    display: flex;
    gap: 0.9rem;
}

.redes_sociais img {
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 2;
    border-radius: 50%;
}

.mais_informacoes {
    position: relative;
    z-index: 2;
    font-size: 0.9rem;
    color: white;
    margin: 0.8rem 0 0.4rem;
}

.dedicatoria {
    z-index: 2;
    font-size: 0.7rem;
    color: white;
}

.dedicatoria a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.dedicatoria a:hover  {
    text-decoration: underline;
}